{% extends "layout.html.twig" %}

{% block content %}
    <div class="well text-center">
        <h2>Composer & SemVer</h2>
        <h3>Symfony Zaragoza</h3>
        <h5>By <a href="https://twitter.com/acelayaa">@acelayaa</a></h5>
    </div>
{% endblock %}
